<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/vue.js"></script>
	<script src="js/materialize.min.js"></script>
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container" id="div-ajout-poisson">
		<br>
		<form class="col s12">
			<div class="row">
				<div class="input-field col s12">
		          <input placeholder="" id="nom" type="text" class="validate" pattern=".+" value="" v-model="nom" required>
		          <label for="nom">Nom</label>
		          <span class="helper-text" data-error="Entrez au moins un caractère" data-success="">Nom de l'espèce (au moins un caractère)</span>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s12">
		          <textarea placeholder="" id="description" type="text" data-length="255" class="materialize-textarea validate" value="" v-model="description"></textarea>
		          <label for="description">Description</label>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s12">
		          <input placeholder="" id="couleur" type="text" class="validate" value="" v-model="couleur" required>
		          <label for="couleur">Couleur</label>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s12">
		          <input placeholder="" id="prix" type="text" class="validate" pattern="^[0-9]+(\.[0-9]+)*$" value="" v-model="prix" required>
		          <label for="prix">Prix</label>
		          <span class="helper-text" data-error="Vérifiez le prix" data-success="">Ne pas indiquer la devise (on s'en fout)</span>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s12">
		          <input placeholder="" id="dimensions" type="text" class="validate" pattern="^([0-9]+(\.[0-9]+)*) *x *([0-9]+(\.[0-9]+)*)$" value="" v-model="dimensions" required>
		          <label for="dimensions">Dimensions</label>
		          <span class="helper-text" data-error="Vérifiez les dimensions" data-success="">Largeur x longeur</span>
		        </div>
			</div>
		</form>
		<br>
		<a class="waves-effect waves-light btn-small" @click="retour">
			<i class="material-icons left">arrow_back</i>Retour vers mon aquarium
		</a>
		<a class="waves-effect waves-light btn-small green" @click="ajouterPoisson">
			<i class="material-icons left">add</i>
			<span v-if="doingJob">Please Wait ...</span>
			<span v-else>Ajouter</span>
		</a>
		<a class="waves-effect waves-light btn-small orange" href="">
			<i class="material-icons left">cancel</i>Réinitialiser
		</a>
	</div>
</body>
<script src="js/ajout-poisson.js"></script>
</html>