<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body> 
	<div class="container">
		<div class="center">
			<img class="main-img" src="img/dory-nemo-marlin.png"></img>
			<h2 class="main-title">Bienvenue sur <span th:text="${appName}"></span></h2>
			<br>
			<a class="waves-effect waves-light btn-small" href="listerEspeces.do">
				<i class="material-icons left">search</i>Lister les especes
			</a>
		</div>
		<div>
		</div>
	</div>
</body>
</html>