<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/vue.js"></script>
    <script src="js/materialize.min.js"></script>
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<table  id="tableau" class="highlight">
			<thead>
			<tr>
				<th>Nom</th>
				<th>Description</th>
				<th>Couleur</th>
				<th>Dimension</th>
				<th>Prix</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ref="td-poisson.id" v-for="poisson in poissons">
				<td>{{ poisson.nom }}</td>
				<td>{{ poisson.description }}</td>
				<td>{{ poisson.couleur }}</td>
				<td>{{ poisson.dimensions }}</td>
				<td>{{ poisson.prix }}</td>
				<td><a class="waves-effect waves-light btn-small red" @click="deletePoisson(poisson.id)">
				<i class="material-icons">delete_forever</i>
			</a></td>
			</tr>
			</tbody>
		</table>
		<br>
		<div id="controls">
			<a class="waves-effect waves-light btn-small" @click="retour">
				<i class="material-icons left">arrow_back</i>Retour
			</a>
			<a class="waves-effect waves-light btn-small green" href="ajoutPoisson.do">
				<i class="material-icons left">add</i>Nouveau poisson
			</a>
		</div>
	</div>
</body>
<script src="js/lister-especes.js"></script>
</html>